body{
  background-color: rgb(170, 182, 175);
}

h1{
  color:blue
}

job-tittle{
  background-color: blue;
}

h2{
  color:blue;
}

footer{
  background-color: rgb(42, 138, 218);
}



